.product-carousel {
  position: relative;
  padding-left: 12px;    
}

.product-carousel__wrap-title {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #000000;
  margin-bottom: 24px;
}

.product-carousel__slide {
  position: relative;
}

.product-carousel__slide > .swiper-button-next,
.product-carousel__slide > .swiper-button-prev {
  display: none;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  transform: translateY(-50%);
}

.product-carousel__slide > .swiper-button-next {
  right: 12px;
}

.product-carousel__slide > .swiper-button-prev {
  left: 12px;
}

.product-carousel__slide > .swiper-button-next::after,
.product-carousel__slide > .swiper-button-prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  font-size: 12px;
  color: #d6d6d6;
  transform: translate(-50%,-50%)
}

.product-carousel__list {
  list-style: none;
  padding-left: 0;
}

.product-carousel__list-wrap {
  position: relative;
}

.product-carousel__list-anchor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}


.product-carousel__tag-new {
  display: inline-block;
  background-color: #BC0000;
  position: absolute;
  top: 12px;
  left: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.386px;
  padding: 4px 14px;
}


.product-carousel__list-img {
  width: 300px;
  height: 400px;
  margin-bottom: 24px;
}

.product-carousel__list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-carousel__list-title {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #000000;
  margin-bottom: 12px;
}

.product-carousel__list-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #4D4D4D;
  margin-bottom: 12px;
}

.product-carousel__list-pricewrap {
  display: flex;
  flex-flow: row wrap;
}

.product-carousel__list-price {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 12px;
  color: #4D4D4D;
  margin-bottom: 24px;
}

.product-carousel__list-price:first-child {
  margin-right: 5px;
}

.product-carousel__list-price.compare {
  color: #888888;
  text-decoration: line-through;
}

.product-carousel__list-btn {
  appearance: none;
  display: block;
  background-color: #ffffff;
  position: relative;
  border: 1px solid #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 15px 50px; 
}

.product-carousel__list-btn::before {
  content: '';
  background-color: #ffffff;
  border: 1px solid #000000;
  position: absolute;
  top: 2.5px;
  right: -5px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media only screen and (min-width: 1200px) {
  .product-carousel {
  	padding-right: 24px;   
    padding-left: 24px;   
  }
  
  .product-carousel__wrap-title {
  	font-size: 36px;
  }
  
  .product-carousel__slide > .swiper-button-next,
  .product-carousel__slide > .swiper-button-prev { 
  	display: block;
  }
  
  .product-carousel__list-img {
    width: 100%;
    height: 440px;
  }
  
  .product-carousel__list-title {
    font-size: 24px;
  }
	
  .product-carousel__list-btn {
  	font-size: 19px;
  }
}

@media only screen and (max-width: 750px) {
  .product-carousel__list-item {
    width: 300px !important;
    padding-right: 12px;
  }
}